Source: n4d-cdc
Section: admin
Priority: optional
Maintainer: LliureX Team <lliurex@gva.es>
Build-Depends: debhelper-compat (= 12)
Standards-Version: 4.4.1
Homepage: http://lliurex.net
#Vcs-Browser: https://salsa.debian.org/debian/n4d-cdc
#Vcs-Git: https://salsa.debian.org/debian/n4d-cdc.git

Package: n4d-cdc
Architecture: all
Depends: ${shlibs:Depends}, ${misc:Depends}, n4d, python3-ldap
Description: backend map CDC groups to lliurex groups
 n4d plugin to map active directory groups (Alumno, Docente) to 
 LliureX groups (students, teachers)
